.mpm-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/*
.mpm-tool-tip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #555556;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    transform: translateX(-50%);
    color: #fff;
    top: -25px;
    left: 50%;
    width: 90px;
}

.mpm-tool-tip {
    position: relative;
}

.mpm-tool-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
    height: 22px;
    min-width: 22px;
}

.mpm-tool-button-icon {
    margin: 0 auto;
    width: 22px;
    height: 22px;
    background-image: url('../images/formula.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
}
*/
