body {
    background: transparent;
}

.mpm-checkbox {
    position: absolute;
    left: 28px;
    top: 30px;
    font-size: 13px;
}

/* 自定义 */

.weui-desktop-dialog {
    margin: 0px auto;
    max-width: 500px;
    min-width: 250px;
}

.weui-desktop-btn {
    outline: none;
}

.weui-desktop-dialog__bd {
    padding: 32px;
}

.weui-desktop-dialog__ft {
    position: relative;
}

.weui-desktop-form__input {
    /* height: 2.57142857em; */
    padding: 10px;
    resize: none;
}

.weui-desktop-icon-btn {
    outline: none;
}